.cast {
  padding: 40px 0;
}
.castList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.castItem {
  font-size: 16px;
  color: #ffffffbd;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 200px;
}

.castItem:nth-child(5n) {
  margin-right: 0;
}

.castText__name {
  margin-bottom: 5px;
  font-weight: 700;
}

.castText__character {


}

.castImage {
  border: 0.5px solid #ffffff61;
  object-fit: cover;
}
