/* HOME PAGE */
.homeList {
width: 500px;
}
.homeItem {
  margin-bottom: 10px;
  transition: transform 200ms linear;
}

.homeItem:hover {
  transform: scale(1.1);
}

.homeLink {
  color: #fff;
  text-decoration: none;
}

.homeTitle {
  margin-bottom: 10px;
}

/* SEARCH PAGE */
.searchInput {
  color: #fff;
  background: #333;
  outline: none;
  border: 1px solid #ffffff2b;
  border-radius: 5px;
  padding: 10px 20px;
}

.searchButton {
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
background: #333;
border: 1px solid #ffffff2b;
cursor: pointer;
}

/* MOVIE PAGE */
.searchForm {
  margin-top: 20px;
}

.searchButton {
  margin-left: 5px;
}

/* DETAILS MOVIE */
.movieDetails__image {
  border: 0.5px solid #ffffff2b;
}

.movieDetails {
  display: flex;
  padding: 40px;
  border-bottom: 1px solid #ffffff2b;
}

.movieInfo {
  margin-left: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.movieInfo__title:not(:first-child) {
  margin: 30px 0 10px 0;
}

.genreList {
  display: flex;
}

.genreItem {
  margin-right: 10px;
}

/* ADDITIONAL INFO */
.info {
  padding: 20px 40px;
  border-bottom: 1px solid #ffffff2b;
}
.infoTitle {
  margin-bottom: 10px;
}
.infoList {

margin-left: 18px;
}
.infoItem {
  list-style-type: disc;
  margin-bottom: 10px;
}

.infoLink {
  color: #fff;
  text-decoration: none;
}

/* CAST */
.cast {
  padding: 40px 0;
}
.castList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.castItem {
  font-size: 16px;
  color: #ffffffbd;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 200px;
  transition: transform 150ms linear;
}

.castItem:hover {
  transform: scale(1.03);
}

.castItem:nth-child(5n) {
  margin-right: 0;
}
.castImage {
  margin-bottom: 10px;
}
.castText__name {
  margin-bottom: 5px;
  font-weight: 700;
}

.castText__character {
    font-size: 13px;
}

.castImage {
  border: 0.5px solid #ffffff2b;
  object-fit: cover;
}

/* REVIEWS */
.reviews {
  padding: 40px;
}
.reviewsItem {
  border: 1px solid #ffffff2b;
  margin-bottom: 20px;
  line-height: 1.7;
  padding: 30px 40px;
}
.reviewsTitle {
  text-align: center;
}
.reviewsText {
  font-size: 14px;
}

/* NOT FOUND */
.notFound {
  text-align: center;
}
.notFoundTitle {
  margin-bottom: 20px;
}

.notFoundImage {
  background: #fff;
}
